Diabetes Prediction

In [58]:
# numpy for numpy arryas
import numpy as np
# pandas for dataframe
import pandas as pd
""" Sklearn modules"""
# standscaler algorithm for standardize data our model
# why standscaler => because it standardize the data (here we need to standardize data in range of 1 and -1 so that model can be trained effectively)
from sklearn.preprocessing import StandardScaler
# train test spliy to divide existing data for training and testing
from sklearn.model_selection import train_test_split
# svm classifier => model (svm => Support Vector Machine)
from sklearn import svm
# accuracy score
from sklearn.metrics import accuracy_score

In [59]:
# importing the data
diabetes_data=pd.read_csv('diabetes.csv')

In [60]:
# reading first 5 rows
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [61]:
# data size
diabetes_data.shape

(768, 9)

In [62]:
# get to know the data

diabetes_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [63]:
# how many of them are positive and negative
# 0 --> Non-Diabetic
# 1 --> Diabetic

diabetes_data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [64]:
# group the label and see they difference
diabetes_data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [65]:
# seperating data nad labels
X=diabetes_data.drop(columns='Outcome', axis=1)
Y=diabetes_data['Outcome']

In [66]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [67]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [84]:
# fiting the data in the range of -1 and 1
scaler=StandardScaler()
scaler.fit(X)
standardized_data=scaler.transform(X)
standardized_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [69]:
X=standardized_data

In [70]:
# train test spliting
X_train, X_test, Y_train, Y_test=train_test_split(X,Y, test_size=0.1, random_state=2, stratify=Y)

In [71]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (691, 8) (77, 8)

Training the Model

In [72]:
# training the model
model=svm.SVC(kernel='linear')

In [73]:
model.fit(X_train,Y_train)

SVC(kernel='linear')

Accuracy Score

In [74]:
# testing with X_train
X_train_predictions=model.predict(X_train)
X_train_predictions_accuracy=accuracy_score(X_train_predictions, Y_train)
X_train_predictions_accuracy

0.784370477568741

In [75]:
# testing with X_test
X_test_predictions=model.predict(X_test)
X_test_predictions_accuracy=accuracy_score(X_test_predictions, Y_test)
X_test_predictions_accuracy

0.7792207792207793

Testing the single input

In [85]:
# negative=>
# 0,101,65,28,0,24.6,0.237,22
# 2,141,58,34,128,25.4,0.699,24
# 5,99,74,27,0,29,0.203,32

# positive=>
# 5,137,108,0,0,48.8,0.227,37
# 8,133,72,0,0,32.9,0.27,39
# 13,126,90,0,0,43.4,0.583,42

input_data=(13,126,90,0,0,43.4,0.583,42)
# changing input to numpy array
input_data_numpy_ary=np.asarray(input_data)
# reshaping the numpy array
input_data_numpy_ary_reshaped=input_data_numpy_ary.reshape(1,-1)
# standardize the numpy array
standardized_input=scaler.transform(input_data_numpy_ary_reshaped)
# testing with the out input
prediction=model.predict(standardized_input)
result=prediction[0]
if(result):
  print('this person have diabetic')
else:
  print('this person does not have diabetic')

this person have diabetic